.main-header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    background-color: #111;
}

.main-header img {
    transition: 0.2s ease-out;
}

.main-header img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

@media (min-width: 1024px) {
    .main-header {
        padding: 0 2rem;
    }
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.logo-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.header-content-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .header-content-wrapper {
        justify-content: space-between;
        gap: 1rem;
    }
}

.search-box {
    margin-right: 70rem;
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 32rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    transition: box-shadow 0.3s ease;
    background-color: #222;
}

.search-box:focus-within {
    box-shadow: 0 0 0 1px darkgray;
}

.icon-button {
    background: none;
    border: none;
    color: darkgray;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.icon-button:hover {
    color: darkgray;
}

.search-box .icon-button:first-child {
    margin-left: 0.5rem;
}
.search-box .icon-button:last-child {
    margin-right: 0.5rem;
}

.icon-svg {
    width: 1.25rem;
    height: 1.25rem;
}

.search-input {
    flex: 1;
    padding: 0 0.75rem;
    background: transparent;
    color: darkgray;
    font-size: 0.875rem;
    outline: none;
    border: none;
}

.search-input::placeholder {
    color: darkgray;
}

.nav-links {
    display: none;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
    color: darkgray;
}

@media (min-width: 1024px) {
    .nav-links {
        display: flex;
    }
}

.nav-item {
    text-decoration: none;
    color: darkgray;
    transition: color 0.2s ease;
}

.nav-item:hover {
    color: whitesmoke;
}

.divider::after {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1px;
    background-color: darkgray;
    margin-left: 1rem;
    vertical-align: middle;
}

.divider:last-child::after {
    content: none;
}

.login-button {
    height: 2.5rem;
    background-color: whitesmoke;
    color: black;
    padding: 0.5rem 1.25rem;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

.login-button:focus {
    transition: 0.1s ease;
    transform: scale(1.05);
}