* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: darkgray;
}
body {
    background: black;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main-container {
    height: 150vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 2px solid #151515;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #3a3a3a;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #2a2a2a transparent;
}